{{! Custom pagination }}

<nav class="pagination" role="navigation">
	<ul class="pager">
	  {{#if prev}}
	    <li class="active"><a class="newer-posts" href="{{page_url prev}}#blog-section"> &larr; Newest</a></li>
	  {{else}}
	  	<li class="disabled"><a class="newer-posts disabled" href="#"> &larr; Newest</a></li>
	  {{/if}}
	  <span class="page-number">Page {{page}} of {{pages}}</span>
	  {{#if next}}
	    <li class="active"><a class="older-posts" href="{{page_url next}}#blog-section"> Older &rarr;</a></li>
	  {{else}}
	  	<li class="disabled"><a class="older-posts disabled" href="#"> Older &rarr;</a></li>
	  {{/if}}
	</ul>
</nav>