<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />	
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="{{meta_description}}" name="description" />
	<meta content="{{author.name}}" name="author" />
	<title>{{meta_title}}</title>
	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
	
	<!-- CSS include -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/screen.css" />
	
	<!-- Fonts -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'> 
	<link href='http://fonts.googleapis.com/css?family=Poiret+One&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--[if IE]>
	<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	{{! Ghost style and meta data }}
	{{ghost_head}}
</head>
<body class="{{body_class}}">

	{{! Page Header: partials/page_header }}
	{{> page_header}}

	{{! ***** Body ***** }}
	{{{body}}}

	{{! Page Footer: partials/page_footer }}
	{{> page_footer }}
	
	{{ghost_foot}}
	
<!-- JavaScript include -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="js/scripts.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
	
</body>
</html>