<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"></meta>	
	<meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
	<meta content="{{author.name}}" name="author"></meta>
	<title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"></meta>
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
	<link href="" rel="shortcut icon"></link>
	
    {{! CSS include }}
	<link rel="stylesheet" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="css/screen.css"></link>
	<!-- Fonts -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"></link>
	<link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'> 
	<link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--[if IE]>
		<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	{{! Intro }}
	<div class="intro" id="intro">
	 <div class="up-intro">
	 	<a href="http://"><i class="fa fa-rss-square fa-2x"></i></a>
	 </div>
	 <div class="name">
		<h1> {{@blog.title}} </h1>
	 </div>
	 <div class="message">
		{{@blog.description}}
	 </div>
	 <div class="button">
	 	<a href="#blog-section">
		<button type="button" class="btn btn-default">
		<i class="fa fa-angle-double-down fa-lg"></i>
		</button>				
		</a>
	 </div>
	</div> {{! End Intro }}

	{{! Body }}
	{{{body}}}

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	<!-- JavaScript include -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="js/scripts.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js"></script>
	
</body>
</html>