{{!< default}}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
	<div class="main-header-content">
		<div class="title" id="div1" style="display:none;">{{@blog.title}}</div>
		<div class="message" id="div2" style="display:none;">
			<p>{{@blog.description}}</p>
		</div>
        <div class="social">
        <ul class="list-inline">
            <li><a href="https://twitter.com/seba_cata"><i class="fa fa-twitter fa-2x fa-border"></i></a></li>
            <li><a href="https://plus.google.com/117361369194325214164/posts"><i class="fa fa-google-plus fa-2x fa-border"></i></a></li>
            <li><a href="https://github.com/xnemo"><i class="fa fa-github-alt fa-2x fa-border"></i></a></li>
            <li><a href="https://github.com/xnemo"><i class="fa fa-envelope-o fa-2x fa-border"></i></a></li>
        </ul>
        </div>
		<div class="button">
			<a href="#blog-section" id="div3" class="btn btn-default" data-offset="-45"><i class="fa fa-angle-double-down fa-2x"></i></a>
		</div>
	</div>
</header>

{{! Blog section }}
<div class="main-container-top" id="blog-section">
	<div class="row">
	<div class="col-sm-6 col-md-6 col-lg -6 text-left">
		{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}">
		<img src="{{@blog.logo}}" alt="Blog Logo" class="img-rounded img-responsive"/></a>{{/if}}
	</div>
	 <div class="col-sm-6 col-md-6 col-lg -6 text-right">
		<a href="http://{{url}}/rss"><i class="fa fa-rss fa-2x fa-border"></i></a>
	</div>
	</div>
</div>
<div class="main-container"> <!-- Main container -->

	{{! partials/loop.hbs }}
	{{> "loop" }}
	
</div> <!-- End Main container -->
