{{!< default}}

{{! Page Header: partials/page_intro }}
{{> page_intro }}

{{! Blog section }}
<div class="blog" id="blog-section"> <!-- Blog section -->
<div class="main-container"> <!-- Main container -->

{{! Posts enum }}
{{#foreach posts}}
	<article class="post">
		<header class="post-header">
		  <h2><a href="{{url}}">{{title}}</a></h2>
		</header>
		<section class="post-excerpt">
		  <p>{{excerpt words="35"}} ... <a href="{{url}}"><i class="fa fa-angle-double-right"></i></a></p>
		</section>
		<footer class="post-meta">
		  <div class="foot-meta-container">
		  	<div class="row">
		  	 <div class="col-md-6">
		  	 	{{! Show tags }}
		  	 	<p>By {{author}} in 
		  	 	<ul class="list-inline">
		  	 	  {{#foreach tags}}
		  	 	  <li class="tags"><span class="label label-primary"><a href="{{url}}">{{name}}</a></span></li>
		  	 	  {{/foreach}}
		  	 	</ul></p> 
		  	 </div>
		  	 <div class="col-md-6 text-right">
		  	  <i class="fa fa-calendar-o"></i>
		  	  <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
		  	 </div>
		   </div>
		  </div>
		</footer>
	</article>
	<hr>
{{/foreach}}

{{pagination}}
</div> <!-- End Main container -->
</div> <!-- End blog section -->