{{!< default}}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
	<div class="main-header-content">
		<div class="title" id="title" style="display:none;">{{@blog.title}}</div>
		<div class="message" id="description" style="display:none;">
			<p>{{@blog.description}}</p>
		</div>
		<div class="button">
			<a href="#blog-section" class="btn btn-default" data-offset="-45"><i class="fa fa-angle-down fa-lg"></i></a>
		</div>
	</div>
</header>

{{! Blog section }}
<div class="main-container-top" id="blog-section">
	<div class="row">
	<div class="col-sm-6 col-md-6 col-lg -6 text-left">
		{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}">
		<img src="{{@blog.logo}}" alt="Blog Logo" class="img-rounded img-responsive"/></a>{{/if}}
	</div>
	 <div class="col-sm-6 col-md-6 col-lg -6 text-right">
		<a href="http://{{url}}/rss"><i class="fa fa-rss fa-2x fa-border"></i></a>
	</div>
	</div>
</div>
<div class="main-container"> <!-- Main container -->

	{{! partials/loop.hbs }}
	{{> "loop" }}
	
</div> <!-- End Main container -->