{{!< default}}

<header class="main-header-background {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
<div class="main-header">
	<div class="main-header-content">
		<h1 class="title" id="title" style="display:none;">{{@blog.title}}</h1>
		<div class="message" id="description" style="display:none;">
			<p>{{@blog.description}}</p>
		</div>
		<div class="button">
			<a href="#blog-section" class="btn btn-default"><i class="fa fa-angle-down fa-lg"></i></a>
		</div>
	</div>
</div>
</header>

{{! Blog section }}
<div class="main-container-top" id="blog-section">
	<a href="http://{{url}}/rss"><i class="fa fa-rss fa-2x fa-border"></i></a>
</div>
<div class="main-container"> <!-- Main container -->

	{{! partials/loop.hbs }}
	{{> "loop" }}
	
</div> <!-- End Main container -->