{{!< default}}
<div class="content">

	<article class="post">
	{{#post}}
		<header class="post-header">
		  <h2>{{title}}</h2>
		  <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
		</header>
		<section class="post-full">
			{{content}}
		</section>
		<hr>
		<footer class="post-meta">
		  <div class="foot-meta-container">
		  	<div class="row">
		  	 <div class="col-md-6">
		  	 	{{! Show tags }}
		  	 	<p>Posted by {{author}} in
		  	 	<ul class="list-inline">
		  	 	  {{#foreach tags}}
		  	 	  <li class="tags"><span class="label label-primary"><i class="fa fa-tags"></i><a href="{{url}}">{{name}}</a></span></li>
		  	 	  {{/foreach}}
		  	 	</ul></p>
		  	 </div>
		  	 <div class="col-md-6 share text-center">
		  	 	Share this post on:
		  	 	<ul class="list-inline">
		  	 		{{> share-post }}
		  	 	</ul>
		  	 </div>
		   </div>
		  </div>
		</footer>
	{{/post}}
	{{! Start Disqus }}
		<!-- Here disqus code -->
	{{! End Disqus }}
	</article>
</div> <!-- End main-container -->
