{{!< default}}
<div class="content">

	<article class="post">
	{{#post}}
		<header class="post-header">
		  <h2>{{title}}</h2>
		  <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
		</header>
		<section class="post-full">
			{{content}}
		</section>
		<hr>
		<footer class="post-meta">
		  <div class="foot-meta-container">
		  	<div class="row">
		  	 <div class="col-md-6">
		  	 	{{! Show tags }}
		  	 	<p>Posted by {{author}} in
		  	 	<ul class="list-inline">
		  	 	  {{#foreach tags}}
		  	 	  <li class="tags"><span class="label label-primary"><i class="fa fa-tags"></i><a href="{{url}}">{{name}}</a></span></li>
		  	 	  {{/foreach}}
		  	 	</ul></p>
		  	 </div>
		  	 <div class="col-md-6 share text-center">
		  	 	Share this post on:
		  	 	<ul class="list-inline">
		  	 		<li>
		  	 		<a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
		  	 		<i class="fa fa-twitter-square fa-2x"></i></a>
		  	 		</li>
		  	 		<li>
		  	 		<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
		  	 		<i class="fa fa-facebook-square fa-2x"></i></a>
		  	 		</li>
		  	 		<li>
		  	 		<a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
		  	 		<i class="fa fa-google-plus-square fa-2x"></i></a>
		  	 		</li>
		  	 	</ul>
		  	 </div>
		   </div>
		  </div>
		</footer>
	{{/post}}
	{{! Start Disqus }}
		<!-- Here disqus code -->
	{{! End Disqus }}
	</article>
</div> <!-- End main-container -->
